In [63]:
import numpy as np
import pandas as pd
from pathlib import Path
import dask.dataframe as dd
import dask.array as da

In [72]:
csvPath = "/Users/swarchol/Harvard Drive/Mouse/ChristmasCSVs/test.csv"
df = dd.read_csv(csvPath, assume_missing=True).set_index('id')
embedding = np.load("/Users/swarchol/Harvard Drive/Mouse/NewCellTypesData/Embeddings/MLB_270_1nye_cluster.npy")
# 
df['id'] = df.index

#     df['Cluster'] = da.array(embedding[:, -1].astype('int32').tolist())
if 'CellType' in df.columns:
    df.rename(columns={'CellType': 'phenotype'}, inplace=True)
df = df.replace(-np.Inf, 0)
# return df
df.head()

,DAPI 0,bk 488,bk 555,Tim3-1,DAPI 1,TTF1,B220,CD45,DAPI 2,FOXP3,...,DAPI 7,Tim3-2,Ly6g,bkgd,CellID,X,Y,phenotype,Area,id
id,,,,,,,,,,,,,,,,,,,,,
0.0,12.167418,9.818582,8.060696,7.189825,10.367415,7.055282,6.475733,6.832890,12.221587,8.118941,...,0.0,0.0,0.0,0.0,1.0,889.0,3096.0,Alveolar MAC,0.0,0.0
1.0,10.692616,9.445015,7.714246,6.285402,10.183635,6.672425,6.129283,6.000000,10.653741,7.845490,...,0.0,0.0,0.0,0.0,2.0,890.0,3416.0,Myeloid,0.0,1.0
2.0,11.606868,9.709084,7.942515,5.754888,11.213104,7.066089,6.475733,5.285402,12.131535,8.071462,...,0.0,0.0,0.0,0.0,3.0,896.0,3074.0,Other,0.0,2.0
3.0,10.675957,9.670656,7.924813,6.108524,10.702173,7.139551,6.491853,5.727920,11.247928,8.027906,...,0.0,0.0,0.0,0.0,4.0,891.0,3191.0,Alveolar MAC,0.0,3.0
4.0,11.805341,10.023754,8.228819,6.820179,11.389094,7.658211,6.599913,5.807355,12.377211,8.290019,...,0.0,0.0,0.0,0.0,5.0,892.0,3210.0,undefined,0.0,4.0

In [65]:
import dask
print(dask.__version__)

2022.02.0

In [66]:
df.phenotype.unique().compute().tolist()

['Alveolar MAC',
 'Myeloid',
 'Other',
 'undefined',
 'T reg',
 'Immune',
 'Epithelial',
 'T helper',
 'DC',
 'B',
 'Lymphoid',
 'T cytotox',
 'Neutrophil',
 'TAM',
 'NK_M',
 'T',
 'NK_L']

In [73]:
ids = [28,1558,3652,3692,3698,3716]
# df[['B220','id']].compute().to_numpy()
# df = df.set_index(df.index, sorted=True)
df.loc[ids].compute()

,DAPI 0,bk 488,bk 555,Tim3-1,DAPI 1,TTF1,B220,CD45,DAPI 2,FOXP3,...,DAPI 7,Tim3-2,Ly6g,bkgd,CellID,X,Y,phenotype,Area,id
id,,,,,,,,,,,,,,,,,,,,,
28,11.057992,9.756556,8.011227,6.906891,11.272047,8.113742,6.882643,6.442943,11.640697,8.092757,...,0.000000,0.000000,0.000000,0.000000,29.0,928.0,3260.0,Epithelial,0.0,28.0
1558,10.342075,9.649256,7.900867,7.761551,10.376125,7.129283,6.266787,8.224002,10.437752,7.882643,...,3.584963,3.000000,2.584963,4.906891,1559.0,1502.0,21908.0,Alveolar MAC,0.0,1558.0
3652,10.433585,9.092757,7.426265,4.700440,11.627990,6.754888,6.044394,5.000000,11.529431,7.539159,...,5.754888,3.321928,3.700440,4.906891,3653.0,1756.0,1251.0,Other,0.0,3652.0
3692,10.134426,8.764872,7.044394,4.857981,11.000000,6.700440,5.882643,4.807355,11.312883,7.348728,...,10.894818,7.434628,6.491853,4.954196,3693.0,1760.0,5148.0,Other,0.0,3692.0
3698,10.956376,9.359750,7.665336,4.643856,11.869979,8.194757,6.189825,4.857981,11.766115,7.813781,...,11.289443,7.592457,6.491853,5.000000,3699.0,1763.0,2945.0,Epithelial,0.0,3698.0
3716,11.271463,9.398744,7.679480,6.700440,11.845490,7.942515,6.228819,5.954196,11.908393,7.906891,...,11.900112,8.154818,6.491853,5.000000,3717.0,1766.0,5754.0,Epithelial,0.0,3716.0

In [71]:
df.index.is_sorted

AttributeError: 'Index' object has no attribute 'is_sorted'

In [55]:
df.shape[0].compute()

197832